### Mulitplying columns together to make a 3rd column

Goal: Multiply columns

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/Street_Tree_List.csv')

In [4]:
df.head(2)

,TreeID,qLegalStatus,qSpecies,qAddress,SiteOrder,qSiteInfo,PlantType,qCaretaker,qCareAssistant,PlantDate,...,XCoord,YCoord,Latitude,Longitude,Location,Fire Prevention Districts,Police Districts,Supervisor Districts,Zip Codes,Neighborhoods (old)
0,46534,Permitted Site,Tree(s) ::,73 Summer St,7.0,Sidewalk: Curb side : Cutout,Tree,Private,NaN,04/01/2002 12:00:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121399,DPW Maintained,Corymbia ficifolia :: Red Flowering Gum,349X Cargo Way,1.0,Sidewalk: Curb side : Cutout,Tree,DPW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Method 1: Multiply Series together

In [9]:
df['multiplied_column'] = df['TreeID'] * df['SiteOrder']

#### Method 2: Iterate through column and multiply

In [20]:
results_list = []

for i, row in df.iterrows():
    result = (row['TreeID']/2) * row['SiteOrder']
    results_list.append(result)

In [22]:
df['multiplied_column2'] = results_list

In [23]:
df.head(3)

,TreeID,qLegalStatus,qSpecies,qAddress,SiteOrder,qSiteInfo,PlantType,qCaretaker,qCareAssistant,PlantDate,...,Latitude,Longitude,Location,Fire Prevention Districts,Police Districts,Supervisor Districts,Zip Codes,Neighborhoods (old),multiplied_column,multiplied_column2
0,46534,Permitted Site,Tree(s) ::,73 Summer St,7.0,Sidewalk: Curb side : Cutout,Tree,Private,NaN,04/01/2002 12:00:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325738.0,162869.0
1,121399,DPW Maintained,Corymbia ficifolia :: Red Flowering Gum,349X Cargo Way,1.0,Sidewalk: Curb side : Cutout,Tree,DPW,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121399.0,60699.5
2,85269,Permitted Site,Arbutus 'Marina' :: Hybrid Strawberry Tree,1000 Edinburgh St,3.0,Sidewalk: Curb side : Cutout,Tree,Private,NaN,07/24/2007 12:00:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255807.0,127903.5